@using SmartEnergyHub.UI.Models.AuthCustomer
@{
    var excludedProperties = new List<string> { "FirstName", "LastName", "Email", "PhoneNumber", "Password", "PasswordConfirm" };
    var allErrors = ViewData.ModelState.Values.SelectMany(v => v.Errors).ToList();
    var unprocessedErrors = allErrors.Where(error => !excludedProperties.Any(prop => error.ErrorMessage.Contains(prop)));
}

@model CustomerLoginModel

<div class="container w-25">
    <h2 class="maint-title">Log in</h2>
    <form method="post" asp-controller="AuthCustomer" asp-action="Login">
        <div class="form-group">
            <label for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control" required />
            <span class="valid" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" required />
            <span class="valid" asp-validation-for="Password"></span>
        </div>

        <div class="field-validation-error">
            @if (unprocessedErrors.Any())
            {
                <div class="field-validation-error">
                    <ul>
                        @foreach (var error in unprocessedErrors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary w-100 bg-success" value="Log in" />
        </div>
    </form>
</div>
