hr {
    margin-top: 0;
}

.container-profile {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #7ed321;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.field-name-block {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.value-block {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.field-name-block h4 {
    color: #7ed321;
}

.value-block-line {
    margin-top: 46px;
}

.right-block {
    text-align: center;
}

.contact-block {
    margin-top: 52px;
}

.btn-block {
    margin-top: 25px;
}

.btn:hover {
    transform: scale(1.05);
}

.input-label {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
