
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-family: 'GFS Neohellenic', sans-serif;
}

body {
  margin-bottom: 60px;
}

.maint-title {
    text-align: center;
}

.form-group label {
    margin-bottom: 0px;
    font-size: 18px;
}

.field-validation-error {
    color: #ff460c;
    font-weight: 500;
}

.btn-primary {
    padding: 10px;
    color: white;
    border-color: transparent;
    font-size: 20px;
    font-weight: 700;
}